body {
  background: #c4e1ef;
  color: #008ed3;
  font-family: 'Raleway', sans-serif;
}

#navbar .navbar-brand {
  font-size: 1.5rem;
  font-weight: 150;
  color: #008ed3;
}

#navbar .nav-link {
  font-size: 1.25rem;
  font-weight: 150;
  color: white;
}

#navbar .nav-link:hover {
  font-size: 1.25rem;
  font-weight: 150;
  color: #008ed3;
}

#header img {
  max-width: 100%;
  height: auto;
}

#main {
  text-align: center;
}

#main h2 {
  font-size: 2.5rem;
}

#main p {
  font-size: 1.25rem;
}

.purple {
  background: #DCD1EC;
}

.green {
  background: #BCEBE6;
}

/*
  Color scheme, using:
  https://htmlcolorcodes.com/color-picker/
*/

@media (max-width: 1200px) {
  #main h2 {
   font-size: 2rem;
  }

  #main p {
   font-size: 1rem;
  }
}
